
/* General */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Color de fondo para toda la página */
}

/* Contenedor del Login */
.l-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Título */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Estilos del formulario */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.User, .contraseña {
  text-align: left;
  font-weight: 500;
  color: #333;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Botón de Ingresar */
button[type="submit"] {
  background-color: #771D4B; /* Color del botón */
  color: #fff;
  padding: 0.7rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #7a1a5e;
}

/* Texto de Olvidaste tu contraseña */
p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #a0005b;
  cursor: pointer;
}